# Exploratory Analysis - Cyclistic Bike Share

This is my take on recreating my exploratory analysis of the cyclistic bike share date based on R. 
I do this to train my Python skills.

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import glob
import os

In [11]:
#Joining the files in one dataframe. Data from 2020/04 to 2021/04

files = os.path.join("../input/cyclistic-bike-share", "*divvy-tripdata.csv")
files = glob.glob(files)
df = pd.concat(map(pd.read_csv, files), ignore_index=True)

## Getting familiar with the data

In [17]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual

In [16]:
#column names
for col in df.columns:
    print(col)

ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3826978 entries, 0 to 3826977
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 379.6+ MB

Columns: 13, Rows: 3826978 with different types of data

## Start manipulating the data

In [20]:
#renaming some columns for better context and easier work 
df = df.rename(columns = {
                        "rideable_type": "bike_type", 
                        "start_station_name": "start_station",
                        "end_station_name": "end_station",
                        "member_casual": "user_type"        
})

df.head()

,ride_id,bike_type,started_at,ended_at,start_station,start_station_id,end_station,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual

In [29]:
#Parsing the Datetime columns to get the right dtype
df['started_at'] = pd.to_datetime(df['started_at'], format = "%Y-%m-%d %H:%M:%S")
df['ended_at'] = pd.to_datetime(df['ended_at'], format = "%Y-%m-%d %H:%M:%S")

#Checking if it worked
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3826978 entries, 0 to 3826977
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   ride_id           object
 1   bike_type         object
 2   started_at        datetime64[ns]
 3   ended_at          datetime64[ns]
 4   start_station     object
 5   start_station_id  object
 6   end_station       object
 7   end_station_id    object
 8   start_lat         float64
 9   start_lng         float64
 10  end_lat           float64
 11  end_lng           float64
 12  user_type         object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 379.6+ MB

In [44]:
#Removing Duplicate Ride IDs since we only want distinct rides
df = df.drop_duplicates(subset=['ride_id'])

df.info()
print('Rows removed: ' + str(3826978 - 3826769))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3826769 entries, 0 to 3826977
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   ride_id           object
 1   bike_type         object
 2   started_at        datetime64[ns]
 3   ended_at          datetime64[ns]
 4   start_station     object
 5   start_station_id  object
 6   end_station       object
 7   end_station_id    object
 8   start_lat         float64
 9   start_lng         float64
 10  end_lat           float64
 11  end_lng           float64
 12  user_type         object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 408.7+ MB
Rows removed: 209

In [47]:
#check for null values
df.isnull().values.any()

True

In [49]:
#So we got Null Values. How many?

df.isnull().sum()

ride_id                  0
bike_type                0
started_at               0
ended_at                 0
start_station       148231
start_station_id    148857
end_station         171415
end_station_id      171876
start_lat                0
start_lng                0
end_lat               5004
end_lng               5004
user_type                0
dtype: int64

In [68]:
#deleting all null values. Since we got a over 3 million entries, we can remove 171876 rows without seriously impacting the results of the analysis. 
df = df.dropna()
df.isnull().sum()

ride_id             0
bike_type           0
started_at          0
ended_at            0
start_station       0
start_station_id    0
end_station         0
end_station_id      0
start_lat           0
start_lng           0
end_lat             0
end_lng             0
user_type           0
year                0
month               0
day                 0
week                0
hour                0
year_month          0
month_year          0
dtype: int64

In [69]:
#Adding new columns by extracting the components of the date datetime columns
df['year'] = df['started_at'].dt.year
df['month'] = df['started_at'].dt.month
df['day'] = df['ended_at'].dt.day
df['hour'] = df['ended_at'].dt.hour
df['month_year'] = df['month'].map(str) + ' - ' + df['year'].map(str)
df.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ride_id,bike_type,started_at,ended_at,start_station,start_station_id,end_station,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type,year,month,day,week,hour,year_month,month_year
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual,2020,11,1,44,13,11 - 2020,11 - 2020
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual,2020,11,1,44,10,11 - 2020,11 - 2020
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual,2020,11,1,44,1,11 - 2020,11 - 2020
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual,2020,11,1,44,0,11 - 2020,11 - 2020
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual,2020,11,1,44,16,11 - 2020,11 - 2020